:root {
    --primary: #00076f;
    --green: #139d68;
    --lightgreen: #00ff9f;
    --darkgreen: #053d27;
}

body {
    background-color: var(--primary);
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.pages {
    display: flex;
    justify-content: center;
}

.pages p {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--lightgreen);
    padding: 10px;
}

.pages a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.pages a:hover,
.navigation a:hover {
    text-decoration: underline;
    opacity: 0.4;
}

#welcome h1,
#projects h1,
#tools h1,
#socials h1,
#contact h1 {
    color: var(--lightgreen);
    font-size: 50px;
    font-family: sans-serif;
    letter-spacing: 9px;
}

#welcome img {
    max-width: 800px;
    border: 2px solid white;
}

#welcome p {
    font-size: 20px;
    font-family: sans-serif;
    color: var(--lightgreen);
    padding: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}

#projects a {
    text-decoration: none;
}

#tools h3,
#contact h3 {
    color: var(--lightgreen);
    font-size: 30px;
    font-family: monospace;
    color: var(--green);
}


.project-boxes {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: width 0.3s, height 0.3s;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 2px solid var(--lightgreen);
    border-radius: 10px;
    background-color: lightblue;
}

.project-box:hover {
    width: 305px;
    height: 305px;
    border: 3px solid white;
}

.project-box img {
    max-width: 260px;
    max-height: 260px;
}

.project-box-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 20px;
    margin-right: 20px;
}

.project-box-info h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--green);
    font-family: monospace;
}

.project-box-info p {
    margin: 0;
    color: var(--darkgreen);
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

.tools-title h1 {
    margin-bottom: 0;
}

.tools-title h3 {
    margin: 0;
}

.icons {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--darkgreen);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--lightgreen);
}

.icons img {
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 50px;
    width: 150px;
}

.social-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.floating-icons {
    display: flex;
    justify-content: center;
}

.floating-icon {
    margin-left: 50px;
    margin-right: 50px;
    animation: float 2000ms infinite alternate-reverse;
    transition: all 200ms;
}

.floating-icon img {
    max-width: 160px;
    box-shadow: inset;
}

.floating-icon:hover {
    opacity: 0.5;
}

.floating-icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.floating-icons p {
    margin-top: 15px;
    font-size: 40px;
    color: var(--lightgreen);
    font-family: monospace;
    font-weight: 700;
}

.contact-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form {
    padding: 30px;
    background-color: var(--darkgreen);
    border: 2px solid var(--lightgreen);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact input,
#contact textarea {
    font-size: 30px;
    font-family: monospace;
    margin-bottom: 10px;
}

#contact button {
    font-size: 20px;
    color: var(--lightgreen);
    background-color: var(--primary);
    border: 2px solid var(--lightgreen);
    border-radius: 30px;
    padding: 10px;
}

#contact button:hover {
    transition: 0.1s linear;
    letter-spacing: 2px;
    opacity: 0.6;
}

@keyframes float {
    0% {
        transform: translateY(20px);
    } 100% {
        transform: translateY(-70px);
    }
}

