:root {
}

section {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: rgb(2, 77, 152);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgb(1, 63, 134);
  padding: 16px 32px;
}

.container {
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container * {
  flex: 1;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 1;
  float: right;

  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: red;
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;

  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(-10px);
  background-color: lightgreen;
}

.hamburger.active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.active:hover span {
  background-color: red;
}

.menu {
  display: none;
  justify-content: center;
}

.menu a {
  color: lightgreen;
  margin: 0 16px;
  font-weight: 600;
  font-size: 18px;
  font-family: monospace;
  letter-spacing: 3px;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
}

.menu a.active,
.menu a:hover {
  background-color: lightcoral;
  color: white;
}

.hamburgerLinks {
  display: none;
}

.hamburgerLinks.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3em;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: lightgreen;
}

.hamburgerLinks.active a {
  text-decoration: none;
}

.hamburgerLinks.active a:hover {
  letter-spacing: 2px;
  color: violet;
}

#welcome h1 {
  color: lightblue;
  font-size: 30px;
  font-family: monospace;
  padding: 10px 40px 5px 40px;
  margin: 0;
  text-align: center;
}

#welcome p {
  padding: 10px 40px 10px 40px;
  color: lightblue;
  font-family: monospace;
  font-size: 20px;
  margin: 0;
  text-align: center;
  margin-bottom: 3000px;
}

#welcome img {
  width: 100%;
}

#welcome .discord-link {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

#welcome a {
  text-decoration: none;
  color: lightcoral;
}

#welcome a:hover {
  color: rgb(232, 96, 96);
  text-decoration: underline;
}

#projects {
  margin-top: 100px;
}

#projects h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 150px;
  font-family: monospace;
  color: #00ff9f;
  letter-spacing: 5px;
  font-weight: 700;
}

.project-boxes {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-boxes a {
  text-decoration: none;
}

.project-box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: width 0.3s, height 0.3s;
  margin-left: 30px;
  margin-bottom: 30px;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: rgb(7, 113, 218);
}

.project-box:hover {
  border: 2px solid white;
  opacity: 0.9;
  background-color: lightcoral;
}

.project-box img {
  margin-top: 15px;
  max-width: 260px;
  max-height: 260px;
}

.project-box-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 20px;
  margin-right: 20px;
}

.project-box-info h2 {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #00ff9f;
  font-family: monospace;
}

.project-box-info p {
  margin: 0;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}

#projects-text {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#projects-text p {
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 25px;
}

#tools {
  margin-top: 100px;
}

#tools h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 150px;
  font-family: monospace;
  color: #00ff9f;
  letter-spacing: 5px;
  font-weight: 700;
}

#tools p {
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 23px;
}

.tools-title {
  max-width: 1300px;
  margin: 0 auto;
}

.icons {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
}

.icons img {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 50px;
  width: 90px;
}

#tools h2 {
  color: #00ff9f;
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}

#socials {
  margin-top: 150px;
}

#socials h1 {
  text-align: center;
  color: #00ff9f;
  font-size: 40px;
  font-family: monospace;
}

#socials p {
  text-align: center;
  color: white;
  font-family: monospace;
  font-size: 25px;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 100px;
}

.social-box {
  max-width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 40px;
  padding: 100px 60px 10px 60px;
}

.floating-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.floating-icon1 {
  margin-left: 50px;
  margin-right: 50px;
  animation: float 1400ms infinite alternate-reverse;
  transition: all 200ms;
}

.floating-icon2 {
  margin-left: 50px;
  margin-right: 50px;
  animation: float 1200ms infinite alternate-reverse;
  transition: all 200ms;
}

.floating-icon3 {
  margin-left: 50px;
  margin-right: 50px;
  animation: float 1000ms infinite alternate-reverse;
  transition: all 200ms;
}

.floating-icon4 {
  margin-left: 50px;
  margin-right: 50px;
  animation: float 900ms infinite alternate-reverse;
  transition: all 200ms;
}

.floating-icon1 img,
.floating-icon2 img,
.floating-icon3 img,
.floating-icon4 img {
  max-width: 140px;
}

.floating-icon1:hover,
.floating-icon2:hover,
.floating-icon3:hover,
.floating-icon4:hover {
  opacity: 0.5;
}

.floating-icons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

#tutoring {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 100px;
}

#tutoring h1 {
  color: #00ff9f;
  font-family: monospace;
  font-size: 35px;
  letter-spacing: 10px;
}

.tutor-info h2 {
  color: #00ff9f;
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 5px;
  margin: 20px 0 10px 20px;
}

#tutoring p {
  max-width: 60%;
  font-size: 18px;
  color: white;
  font-family: monospace;
  margin-bottom: 30px;
}

#tutoring a {
  text-decoration: none;
  color: var(--lightgreen);
  font-weight: 700;
}

#tutoring a:hover {
  font-size: 19px;
  transition: 0.1s linear;
  color: lightcoral;
}

#tutoring h2 {
  font-size: 20px;
}

.tutor-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.pricing {
  color: white;
  font-family: monospace;
  font-size: 14px;
  margin-right: 20px;
  padding: 5px 20px 5px 0;
}

.why-me {
  color: white;
  font-family: monospace;
  font-size: 14px;
  margin-left: 20px;
  padding: 5px 20px 5px 0;
}

.target-audience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.target-audience h2 {
  color: #00ff9f;
  font-family: monospace;
  letter-spacing: 6px;
  font-size: 40px;
}

#contact {
  margin-top: 100px;
}

.contact-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title h1 {
  font-family: monospace;
  color: #00ff9f;
  font-size: 30px;
  margin: 0;
}

.contact-title h3 {
    font-family: monospace;
    color: #149463;
    font-size: 20px;
  }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact input,
#contact textarea {
  font-size: 27px;
  font-family: monospace;
  margin-bottom: 10px;
  border-radius: 5px;
}

#contact button,
.thankyou button {
  font-size: 20px;
  color: #00ff9f;
  background-color: lightcoral;
  border: 2px solid #00ff9f;
  border-radius: 30px;
  padding: 10px;
}

#contact button:hover,
.thankyou button:hover {
  transition: 0.1s linear;
  letter-spacing: 2px;
  opacity: 0.6;
}

.thankyou {
  background-color: var(--darkgreen);
  border: 2px solid var(--lightgreen);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  height: 80vh;
  padding: 30px 10px;
  margin: 0 auto;
  width: 1500px;
  margin-top: 50px;
}

.thankyou h1 {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  color: #00ff9f;
}

.thankyou h3 {
  font-size: 25px;
  font-weight: 700;
  color: var(--green);
  font-family: monospace;
}

.thankyou-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#tutoring img {
  max-height: 150px;
}

@media (min-width: 900px) {
  .hamburger {
    display: none;
  }

  .hamburgerLinks a {
    display: none;
  }

  .menu {
    display: flex;
  }
}

@keyframes float {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-70px);
  }
}

@keyframes float1 {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
