:root {
  --blue: #43a2f5;
}

html {
  margin: 0;
}

body {
  margin: 0 auto;
  color: black;
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  height: 100%;
  padding-right: 20px;
  border-right: 4px solid rgb(0, 0, 0, 0.1) ;
}

a {
  text-decoration: none;
}

.page-links {
  display: flex;
  flex-direction: column;
}

nav a {
  margin-top: 20px;
  margin-left: 20px;
  color: black;
  font-size: 25px;
  width: fit-content;
}

nav a:hover,
.mobile-nav a:hover {
  color: var(--blue);
  transition: color 0.3s;
  cursor: pointer;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  margin-bottom: 20px;
  background-color: white;
}

.mobile-nav a {
  margin-left: 10px;
  font-size: 17px;
  color: black;
}

.active {
  color: var(--blue);
}

.sidebar-offset {
  margin-left: 240px;
}

.icons {
  display: flex;
  align-items: start;
  padding: 3px;
  margin-bottom: 30px;
}

.icons img {
  max-width: 40px;
}

.icons img:hover {
  opacity: 30%;
  transition: opacity 0.3s;
  cursor: pointer;
}

.profile {
  position: relative;
  /* padding-top: 30px; */
  display: flex;
  /* padding-left: 40px ; */
  font-size: 20px;
  /* margin-right: 40px; */
  z-index: 1;
}

.profile-description {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  /* padding-left: 20px; */
}

.profile-description img {
  max-width:250px;
  border-radius: 130px;
  border: 3px solid rgb(255, 255, 255);
  margin-right: 50px;
}

.heading {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
  padding: 5px 10px 5px 30px;
}

.heading-title {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: flex-end;
  padding-bottom: 15px;
}

.heading-title h3 {
  font-size: 17px;
  margin: 0;
}

.heading-title h1 {
  margin: 0;
  margin-bottom: 5px;
}

.about {
  padding: 0 30px ;
}

#projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.project-box {
  max-width: 350px;
  margin: 15px 0 15px 10px;
  border: 1px solid rgb(0, 0, 0, 0);
  border-radius: 10px;
  padding: 3px 7px;
}

.project-box img {
  max-width: 300px;
}

.project-box h1 {
  font-size: 20px;
}

#projects a {
  text-decoration: none;
  color: black;
  width: fit-content;
  height: fit-content;
}


.project-box:hover {
  border: 1px solid var(--blue);
  transition: border 0.1s;

}

.moving-icons {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: #fff;
  overflow: hidden;
}

.moving-icons img {
  margin-top: 50px;
  max-width: 100px;
  margin-left: 20px;
}

.skill-container {
  padding-left: 30px;
}

.skill-container p {
  font-size: 25px ;
}

.skill {
  display: flex;
  margin-top: 20px;
}

.skill img {
  max-width: 90px;
  margin-right: 40px;
}

.skill p {
  font-size: 20px;
}

.skill a,
.about a {
  color: var(--blue);
}

.skill a:hover,
.about a:hover {
  opacity: 0.4;
  cursor: pointer;
}

#experience {
  padding: 40px;
}

#experience h1 {
  font-size: 35px;
  margin: 0;
}

#experience h3,
.experience-tech {
  font-size: 18px;
  margin: 0;
  font-family: monospace;
}

#experience p {
  font-size: 20px;
}

.experience-box {
  padding-bottom: 50px;
  padding-top: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.experience-box img {
  max-width: 250px;
}

/* @media (max-width: 1200px) {
  .profile h1 {
    font-size: 1.5em;
  }

  .profile p {
    font-size: 15px;
  }
} */

@media (max-width: 1050px) {
  .profile {
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  nav {
    display: none;
  }

  .sidebar-offset {
    margin-left: 0;
  }

  .mobile-nav {
    display: flex;
  }

  .page-links {
    flex-direction: row;
  }

  .mobile-nav a {
    font-size: 13px;
  }

  .icons {
    margin: 0;
    margin-right: 5px;
  }

  .icons img {
    max-width: 25px;
    margin-right: 8px;
  }
  
  .profile-description img {
    max-width: 110px;
    max-height: 110px;
    margin: 0;
    margin: 10px 0;
  }
  
  .heading {
    margin-top: 20px;
    padding: 0;
    align-items: center;
    padding: 0 5px;
  }

  .heading-title h1 {
    font-size: 20px;
  }

  .about h1 {
    font-size: 25px;
  }

  .heading-title h3 {
    font-size: 15px;
  }

  .about p {
    font-size: 17px;
  }

  #projects {
    padding-top: 50px;
  }

  .skill-container h1 {
    font-size: 30px;
  }

  .skill-container p {
    font-size: 17px;
  }

  .skill {
    align-items: center;
    padding-right: 80px;
  }

  .skill img {
    max-width: 50px;
    max-height: 50px;
  }

  #experience {
    padding-top: 60px;
  }
}